{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"> Join Today</legend>
                <div class="form-goup">
                    {{ form.username.label(class="form-control-label") }}

                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for errors in form.username.errors %}
                            <span> {{ error }} </span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-goup">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for errors in form.email.errors %}
                        <span> {{ error }} </span>
                    {% endfor %}
                </div>
                {% else %}
                    {{ form.email(class="form-control form-control-lg") }}
                {% endif %}
                </div>
                <div class="form-goup">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                    {{ form.password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for errors in form.password.errors %}
                        <span> {{ error }} </span>
                    {% endfor %}
                </div>
                {% else %}
                    {{ form.password(class="form-control form-control-lg") }}
                {% endif %}
                </div>
                <div class="form-goup">
                    {{ form.confrim_password.label(class="form-control-label") }}
                    {% if form.confrim_password.errors %}
                    {{ form.confrim_password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for errors in form.confrim_password.errors %}
                        <span> {{ error }} </span>
                    {% endfor %}
                </div>
                {% else %}
                    {{ form.confrim_password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info")}}
            </div>
            </fieldset>
                
        </form>
    </div>
    <div class="border-top pt-3">
        <small clas="text-muted">
            Already Have an Account?
            <a class="ml-2" href="{{ url_for('login')}}">Sign In </a>
        </small>
        </div>

{% endblock content %}
